<div #canvasWrapper class="canvas-wrapper">
  <canvas
    #canvas
    class="canvas"
    (mousedown)="onMouseDown($event)"
    (mousemove)="onMouseMove($event)"
    (mouseup)="onMouseUp($event)"
    (mouseleave)="onMouseLeave()"
    (wheel)="onWheel($event)"
    (dblclick)="onDoubleClick($event)"
    [attr.width]="canvasWidth"
    [attr.height]="canvasHeight"
    [style.cursor]="cursorStyle"
  >
  </canvas>
</div>

<div class="controls__wrapper">
  <div class="controls">
    <button (click)="canvasService.spawnMode = true" [class.active]="canvasService.spawnMode"><span
      class="material-symbols-outlined"> edit </span></button>
    <button (click)="toggleConnectionMode()" [class.active]="connectionMode">Connect</button>
    <button (click)="canvasService.spawnMode = false" [class.active]="!canvasService.spawnMode">
      <span class="material-symbols-outlined"> gesture_select </span>
    </button>
  </div>
</div>
